body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #0066cc;
  color: white;
  padding: 1em;
  text-align: center;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navmain {
    width: 100%;
    border-collapse: collapse;
}

.navmain td {
    text-align: center;
    border: 1px solid #000000;
    padding: 5px;
    width: 25%;
    border-collapse: collapse;
}

.navmain td img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.navmain td:hover{
    background-color: #a9a9a9;
}

.formulario-contacto {
  background-color: white;
  padding: 2em;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1em;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  margin-top: 1.5em;
  padding: 0.75em;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004d99;
}

footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 3px;
}

/* Responsivo para ecrãs pequenos */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column-reverse;
  }

  .navbar {
    width: 100%;
  }

  .navmain td {
    text-align: center;
  }

  main {
    padding-right: 0;
  }
}
