body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.italico {
    font-style: italic;
}

#formMain {
    text-align: center;
    margin-bottom: 1rem;
}

label {
    width: 80px;
    margin-right: 10px;
}

#input[type="submit"]{
    margin-top: 10px;
    padding: 10px 20px;
}

/*Seletor de Pseudo-elemento*/
#pHist::first-letter {
    font-size: x-large;
}
#pdescricao::before {
    font-size: 1.2em;
}


/*Estilos para a tabela do polo. jogo */

.tregras{
    border-color: #000000;
    border-style: solid;
    border-width: medium;
    margin: 0 auto;
}

.tregras th {
    border: 1px solid #000000;
}

.tregrastd {
    border: 1px solid #000000;
}

#thregras {
    background-color: #dfdfdf;
    text-align: center;
}

#tbregras {
    background-color: #a3a3a3;
    color:#000000;
    text-align: center;
}

#tfregras {
    background-color: #dfdfdf;
    height: 15px;
    text-align: center;
}

/*---------------------------------*/


.navmain {
    width: 100%;
    border-collapse: collapse;
}

.navmain td {
    text-align: center;
    border: 1px solid #000000;
    padding: 5px;
    width: 25%;
    border-collapse: collapse;
}

.navmain td img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.navmain td:hover{
    background-color: #a9a9a9;
}
.navmain td:first-child {
    background-color: #e0e0e0;
}
    
/*Estilos para a lista de Modalidades. Main */
#listaM {
    padding-left: 1rem;
    list-style-type: square;
}
#listaM li {
    color: darkblue;
    font-weight: bold;
}
/*---------------------------------*/

/* Estilos para as imagens. Treino */

figcaption {
    text-align: center;
}
.imagem-centro {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.imagem-centro img {
  width: 100%;
}

.imagem-centro figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 5px;
}

.linha-com-imagem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1em;
}

.linha-com-imagem .texto {
  flex: 1;
  margin-right: 10px;
}

.imagem-direita {
  width: 150px;
  text-align: center;
}

.imagem-direita img {
  width: 100%;
}

.imagem-direita figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 5px;
}

.imagem-direita2 {
  width: 300px;
  text-align: center;
}

.imagem-direita2 img {
  width: 100%;
}

.imagem-direita2 figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 5px;
}

.imagem-direita3 {
  width: 300px;
  text-align: center;
}

.imagem-direita3 img {
  width: 100%;
}

.imagem-direita3 figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 5px;
}

/*---------------------------------*/


header {
    background: #a9a9a9;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
}

#main {
    background-image: url("../css/Imagens_css/main.png");
    background-size: cover;
    background-position: center;
    color: #000000;
}

#RegrasDoJogo {
    background-image: url("../css/Imagens_css/Pista.png");
    background-size: cover;
    background-position: center;
}

#TreinamentoTecnicas {
    background-image: url("../css/Imagens_css/Treino.png");
    background-size: cover;
    background-position: center;
}

#Equipamento {
    background-image: url("../css/Imagens_css/bola.png");
    background-size: cover;
    background-position: center;
}

#Competições{
    background-image: url("../css/Imagens_css/Competiçao.png");
    background-size: cover;
    background-position: center;
}

#selo {
    border: 0;
    width: 88px;
    height: 31px;
}


main {
    padding: 20px;
}

footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 3px;
}


/* Media querie telémovel */
@media only screen and (max-width: 768px) {
    header {
        padding: 0.5rem 0;
    }

    body {
        font-size: 12px;
        text-align: justify;
    }

    figcaption {
        font-size: 0.8em;
        text-align: center;
        padding: 0.3em 0;
    }
}
